.basic {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: #33A0FF;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .hover {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    background-color: blueviolet;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .wire {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    background-color: orange;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .soft {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    background-color: yellow;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .largeBasic {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    background-color: green;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .largeSoft {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    background-color: pink;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .largeWire {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    background-color: red;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }